.location {
    &__input {
            width: 20rem;
            height: 1rem;
            padding: .5rem;
            display: flex;
            margin: auto;
            position: relative;
            top: 12rem;
            outline: none;
            border: 1px grey solid;

            &:focus {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
    }
}